!!!
%html
  %head
    %meta{:content => "initial-scale=1.0, user-scalable=no", :name => "viewport"}/
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Mushrooms

    %link{href:'css/global.css', rel:'stylesheet'}
    
    %script{src:'js/jquery-3.2.1.min.js'}
    %script{src:'js/three.min.js'}
    %script{src:'js/OrbitControls.js'}
    %script{src:'js/Projector.js'}
    %script{src:'js/CanvasRenderer.js'}
    %script{src:'js/Detector.js'}
    %script{src:'js/TweenMax.min.js'}
    %script{src:'js/global.js'}
  %body
    %img#loading{src:'img/loading.gif'}